* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;
}
