.main_container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}

.container_home {
  margin-top: 25px;

  display: flex;
  /* align-items: center; */
}

.content {
  text-align: center;
  flex: 4;
}

.imagePrevious img {
  height: 285px;
}
